/* mode sombre */

[data-theme="dark"] {
  background-color: #333333 !important;
  color: #eeeeee;
}

[data-theme="dark"] .side-menu {
  background-color: #555555 !important;
  color: #eeeeee;
}
[data-theme="dark"] .side-menu li>a {
  background-color: #555555 !important;
  color: #eeeeee;
}
[data-theme="dark"] .side-menu li>a>i {
  background-color: #555555 !important;
  color: #eeeeee;
}

